[submodule "bundle/vundle"]
	path = bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "/Users/roryokane/.vim/bundle/AutoClose--Alves"]
	path = /Users/roryokane/.vim/bundle/AutoClose--Alves
	url = https://github.com/vim-scripts/AutoClose--Alves.git
[submodule "/Users/roryokane/.vim/bundle/Command-T"]
	path = /Users/roryokane/.vim/bundle/Command-T
	url = https://github.com/wincent/Command-T
[submodule "/Users/roryokane/.vim/bundle/FuzzyFinder"]
	path = /Users/roryokane/.vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "/Users/roryokane/.vim/bundle/L9"]
	path = /Users/roryokane/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "/Users/roryokane/.vim/bundle/ScrollColors"]
	path = /Users/roryokane/.vim/bundle/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "/Users/roryokane/.vim/bundle/YankRing.vim"]
	path = /Users/roryokane/.vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "/Users/roryokane/.vim/bundle/bufexplorer.zip"]
	path = /Users/roryokane/.vim/bundle/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "/Users/roryokane/.vim/bundle/bufkill.vim"]
	path = /Users/roryokane/.vim/bundle/bufkill.vim
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "/Users/roryokane/.vim/bundle/greplace.vim"]
	path = /Users/roryokane/.vim/bundle/greplace.vim
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "/Users/roryokane/.vim/bundle/gundo.vim"]
	path = /Users/roryokane/.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "/Users/roryokane/.vim/bundle/html5.vim"]
	path = /Users/roryokane/.vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "/Users/roryokane/.vim/bundle/jQuery"]
	path = /Users/roryokane/.vim/bundle/jQuery
	url = https://github.com/vim-scripts/jQuery.git
[submodule "/Users/roryokane/.vim/bundle/nerdcommenter"]
	path = /Users/roryokane/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "/Users/roryokane/.vim/bundle/nerdtree"]
	path = /Users/roryokane/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "/Users/roryokane/.vim/bundle/snipmate-snippets"]
	path = /Users/roryokane/.vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets
[submodule "/Users/roryokane/.vim/bundle/supertab"]
	path = /Users/roryokane/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "/Users/roryokane/.vim/bundle/syntastic"]
	path = /Users/roryokane/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "/Users/roryokane/.vim/bundle/tabular"]
	path = /Users/roryokane/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "/Users/roryokane/.vim/bundle/tagbar"]
	path = /Users/roryokane/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "/Users/roryokane/.vim/bundle/textile.vim"]
	path = /Users/roryokane/.vim/bundle/textile.vim
	url = https://github.com/timcharper/textile.vim
[submodule "/Users/roryokane/.vim/bundle/tlib_vim"]
	path = /Users/roryokane/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "/Users/roryokane/.vim/bundle/vim-abolish"]
	path = /Users/roryokane/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "/Users/roryokane/.vim/bundle/vim-addon-mw-utils"]
	path = /Users/roryokane/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "/Users/roryokane/.vim/bundle/vim-coffee-script"]
	path = /Users/roryokane/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "/Users/roryokane/.vim/bundle/vim-colors-solarized"]
	path = /Users/roryokane/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "/Users/roryokane/.vim/bundle/vim-colorschemes"]
	path = /Users/roryokane/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "/Users/roryokane/.vim/bundle/vim-css-color"]
	path = /Users/roryokane/.vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color
[submodule "/Users/roryokane/.vim/bundle/vim-endwise"]
	path = /Users/roryokane/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "/Users/roryokane/.vim/bundle/vim-extradite"]
	path = /Users/roryokane/.vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite
[submodule "/Users/roryokane/.vim/bundle/vim-fugitive"]
	path = /Users/roryokane/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "/Users/roryokane/.vim/bundle/vim-haml"]
	path = /Users/roryokane/.vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "/Users/roryokane/.vim/bundle/vim-indent-object"]
	path = /Users/roryokane/.vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "/Users/roryokane/.vim/bundle/vim-javascript"]
	path = /Users/roryokane/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "/Users/roryokane/.vim/bundle/vim-markdown"]
	path = /Users/roryokane/.vim/bundle/vim-markdown
	url = https://github.com/gmarik/vim-markdown
[submodule "/Users/roryokane/.vim/bundle/vim-rooter"]
	path = /Users/roryokane/.vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "/Users/roryokane/.vim/bundle/vim-snipmate"]
	path = /Users/roryokane/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "/Users/roryokane/.vim/bundle/vim-sparkup"]
	path = /Users/roryokane/.vim/bundle/vim-sparkup
	url = https://github.com/kogakure/vim-sparkup
[submodule "/Users/roryokane/.vim/bundle/vim-surround"]
	path = /Users/roryokane/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "/Users/roryokane/.vim/bundle/vim-unimpaired"]
	path = /Users/roryokane/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
